Package: com.congtu.screenscale16
Name: ScreenScale16
Version: 1.0.8
Architecture: iphoneos-arm64e
Description: iOS 16 screen scale tweak
Maintainer: Tú Tú
Author: Tú Tú
Section: Tweaks
Depends: mobilesubstrate
